@import './fonts.scss';

* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'HelveticaNeueLight';
  background: #E6E9F0;
  color: #5A1094;
}

.container {
  margin: 0 auto;
  max-width: 700px;
}